/*
font-family: 'Special Elite', cursive;
font-family: 'Bangers', cursive;
font-family: 'Luckiest Guy', cursive;
*/

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}



section.welcome {
     color: white;
     width: 100vw;
     height: 100vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Special Elite', cursive;
     text-align: center;
     /*display: flex;*/
     /*flex-direction: column;*/
}

.wrapper {
     width: 80vw;
     height: 100%;
     margin: 0 auto;
}

#date{
     text-align: right;
     padding-right: 52px;
     padding-top: 30px;
     font-size: 18px;

     letter-spacing: 3px;
}

h1 {
     color: rgba(250,255,251,0.58);
     font-family: 'Luckiest Guy', cursive, Halvetica, Arial, sans-serif;
     text-align: center;
     align-self: center;
     letter-spacing: 4px;
     font-size: 80px;
     margin-top: 138px;
}

#picTitle{
     font-size: 20px;
     margin-top: 50px;

}

#explanation{
     font-size: 16px;
     letter-spacing: 3px;
     color: rgba(250,255,251,0.39);
     margin-top: 40px;
}
section.gallery{
     width: 100vw;
     height: 100vh;
     background: #2ac56c;
}